/*CSS Login Form*/

body{
  background:#eee;
}

.bodyLogin {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: -20px 0 50px;
}

.form-container h1,.overlay-panel h1 {
	font-weight: bold;
	margin: 0;
}

.form-container p,.overlay-panel p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.form-container span {
	font-size: 12px;
}

.signIn {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

.signInGG {
    border-radius: 20px;
	border: 1px solid #FFFFFF;
	background-color: transparent;
	border-color: #FFFFFF;
    font-size: 12px;
	font-weight: bold;
	padding: 12px 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
    color: #FFFFFF;
}

.form-container form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.input-account {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container-login {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	min-height: 50%;
}

.form-container {
	position: absolute;
	top: 0;
    width: 50%;
	height: 100%;
}


.overlay-panel {
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: 100%;
  width: 50%;
}

.footer {
    width: 100%;
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    color: #fff;
    font-size: 15px;
    position: fixed;
    padding: 10px 0px 10px 0px;
    bottom: 0px;
    left: 0px;
}

@media only screen and (max-width: 576px) {
  .overlay-panel {
    margin-top: 10px;
    width: 100%;
    height: 60%;
  }

  .container {
    padding-left : 0px;
    padding-right : 0px
  }

  .form-container form {
    padding: 10px;
  }

  .form-container {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
/*End CSS Login Form*/

/*
* CSS Admin Page
*/
:root {
    --main-bg-color: #0061AD;
    --main-text-color: #0061AD;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
}
  
.primary-text {
    color: var(--main-text-color);
}
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }

  .navbar{
    border: 1px solid #bbbec5;;
    background-color: #fff;
    margin-bottom: 10px;
  }
  
  #sidebar-wrapper {
    border: 1px solid #bbbec5;
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  
@media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }

    .img-responsive{
      width: 3rem;
      height: 3rem;
    }
    
}

@media (max-width: 576px) {
  .text-titlte{
    font-size: 0.8rem;
  }
  .navbar-toggler-icon {
    width: 1rem;
  }
}

/*End CSS Admin Page*/


.title {
  text-transform: uppercase;
}

.user-modal-alert-error-update,.user-alert-error,.user-alert-success,.user-modal-alert-error,.user-modal-alert-success {
  display: none;
}

.textareaContentPost{
  background: transparent;
  border: none;
  width: 100%;
  height: 100vh;
}

.title-faculty-card{
  padding: 2rem;
}

.content-notify {
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
}

.card-category {
  width: 18rem; height: 10rem;
  margin: 1rem;
  text-decoration: none;
  background: #043959;
}

.avatarUserSmall {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.padding-10{
  padding:10px !important;    
}

.panel-body {
  background: #fff;
  border-radius: 20px;
}

.img-responsive {
  border: 2px solid;
  border-radius: 100%;
  width: 5rem;
  align-items: center;
  height: 5rem;
}

.avatarComment,.avatarPostNewFeeds, .avatarPostNewFeed,.avatarPostCmt {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  border : 1px solid
}

#userPosting{
  border-radius: 10px;
}

.input-content-newfeeds, #input-content-comments{
  width: 100%;
  height: 5rem;
}

#input-file-newfeeds{
  display: none;
}

.postsUser {
  border-radius: 10px;
}

#authorname{
  text-decoration: none;
}

.img_inside_post {
  width: 100%;
  height: 500px;
}

#input-url{
  display: none;
}

iframe{
  width: 100%;
  height: 500px;
}

.filter{
  margin: 20px;
}